turtle mock
colour mock lime
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock green
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock pink
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock beige
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock cyan
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock salmon
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock red
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock pink
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock salmon
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock blue
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock orange
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock purple
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock plum
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock cyan
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock lavender
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock black
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock blue
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock lavender
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock magenta
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock azure
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock plum
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock violet
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock red
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock olive
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock indigo
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock tomato
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock tomato
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock indigo
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock cyan
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock gold
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock olive
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock salmon
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock salmon
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock tomato
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock thistle
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock thistle
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock lavender
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock tan
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock brown
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock azure
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock cyan
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock chocolate
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock purple
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock cyan
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock azure
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock indigo
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock violet
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock indigo
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock blue
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock purple
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock black
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock tan
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock brown
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock thistle
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock pink
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock white
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock white
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock thistle
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock gainsboro
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
colour mock indigo
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 90
move mock 100
right mock 96.0
